@font-face {
  font-family: 'Interstate-Regular';
  src:font-url('Interstate-Regular.ttf');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Interstate-Light';
  src:font-url('Interstate-Light.ttf');
  font-weight: normal;
  font-style: normal
}

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, span,
canvas, wave {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
  vertical-align: inherit
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Interstate-Light';
  background: #f2f2f2;
}

ul {
  list-style: none;
}

a, button {
  cursor: pointer;
}
