.content-header {
  width: 1240px;
  margin: 0 auto;
}

.first-and-last-name, .city-and-country {
  display: block;
}

.user-header-container {
  width: 1180px;
  height: 200px;
  padding: 30px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.profile-picture {
  display: block;
  float: left;
  width: 200px;
  height: 200px;
}

.profile-picture img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

label[for=update-image] {
  position: absolute;
  padding: 5px 11px 3px 10px;
  opacity: 0;
  transition: opacity .25s;
  top: 198px;
  left: 75px;
}

.user-header-container label, .edit {
  padding: 5px 11px 3px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.user-header-container label {
  float: right;
}

.user-header {
  float: left;
}

.profile-picture:hover label[for=update-image] {
  opacity: 1;
}

.upload-profile, .upload-background {
  display: none;
}

.user-header h1 {
  display: inline-block;
  font-size: 24px;
  line-height: 37px;
  color: white;
  margin-left: 30px;
  padding: 5px 6px 0 6px;
  background: rgba(0,0,0,.8);
}

.user-header h2, h3 {
  margin-left: 30px;
  display: inline-block;
  background: rgba(0,0,0,.8);
  color: #ccc;
  font-size: 16px;
  line-height: 1.2;
  padding: 2px 7px;
  margin-top: 4px;
}

.sub-header {
  width: 1180px;
  margin: 0 auto;
}



.edit {
  float: right;
  margin-right: 32px;
  margin-top: 13px;
  margin-bottom: 6px;
}

aside {
  display: block;
  float: right;
  width: 300px;
  padding: 30px;
}

.main-content {
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
  color: #333;
}

.user-header .hidden {
  display: none;
}
